body{
    background-color: rgb(99, 100, 100);
}

.contenedor-principal{
    background-color: white;
    width: 60%;
    margin-top: 10%;
    padding: 40% 0;
    
}

.credenciales{
    width: 70%;
}

.btn-sesion{
    padding: 2% 31%;
}

.btn-registrate{
    padding: 2% 32.2%;
}